<div class="row">
	<div class="col-md-3 well" th:each="movie : ${movies}">
		<a th:href="@{'/showalphamovie?movieId='+${movie.id}+'&pageIndex='+${pageIndex}+'&movietype='+${movietype}}" style="text-decoration: none;">
			<div class="card">
				<img th:src="${movie.image}" class="card-img-top" alt="..." style="height:220px;" />
				<div class="card-body">
					<h5 class="card-title"
						th:text="${movie.name}">Movie
						Title</h5>
				</div>
			</div>
		</a>
	</div>
</div>
<style>
.col-md-4 {
	max-width: 20% !important;
}

@media only screen and (max-width: 600px) {
	.col-md-4 {
		max-width: 100% !important;
	}
}

@media only screen and (min-width:320px) {
	.col-md-4 {
		max-width: 100% !important;
	}
}

@media only screen and (min-width:481px) {
	.col-md-4 {
		max-width: 100% !important;
	}
}

@media only screen and (min-width:641px) {
	.col-md-4 {
		max-width: 100% !important;
	}
}

@media only screen and (min-width:961px) {
	.col-md-4 {
		max-width: 20% !important;
	}
}

@media only screen and (min-width:1025px) {
	.col-md-4 {
		max-width: 20% !important;
	}
}

@media only screen and (min-width:1281px) {
	.col-md-4 {
		max-width: 20% !important;
	}
}
</style>