<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>All Movies - Movie Fantasy</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<nav th:replace="fragments/menuheader :: menuheader"></nav>
	<div class="container-fluid">
		<div th:replace="fragments/searchmenu :: searchmenu"></div>
		<div class="rowtop">
			<div id="appenddata"></div>
		</div>
		
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" th:inline="javascript">
$(function() {
	var pageIndex = 1;
	var search = [[${search}]]
	$.get("/getdbmovies?pageIndex=" + pageIndex + "&search=" + search, function(response) {
		$("#appenddata").append(response);
	});

	$(document.body).on('touchmove', onMobileScroll); // for mobile
	$(window).on('scroll', onWebScroll); // for web
	
	function onMobileScroll() {
		if ($(window).scrollTop() + window.innerHeight >= document.body.scrollHeight) {
			pageIndex = pageIndex + 1;
			$.get("/getdbmovies?pageIndex=" + pageIndex + "&search=" + search, function(response) {
				$("#appenddata").append(response);
			});
		}
	}

	// callback
	function onWebScroll() {
			if($(window).scrollTop() + $(window).height() == getDocHeight()) {
			pageIndex = pageIndex + 1;
			$.get("/getdbmovies?pageIndex=" + pageIndex + "&search=" + search, function(response) {
				$("#appenddata").append(response);
			});
		}
	}
	
	function getDocHeight() {
	    var D = document;
	    return Math.max(
	        D.body.scrollHeight, D.documentElement.scrollHeight,
	        D.body.offsetHeight, D.documentElement.offsetHeight,
	        D.body.clientHeight, D.documentElement.clientHeight
	    );
	}
});
</script>
</html>