<div class="row" th:if="${persons!=null and persons.size() &gt; 0}">
	<div class="col-md-3 well" th:each="person : ${persons}">
		<div class="card">
			<img th:src="${person.profile_path!=null and person.profile_path!='' and person.profile_path!=undefined?'https://image.tmdb.org/t/p/w235_and_h235_face/'+person.profile_path:'http://www.reelviews.net/resources/img/default_poster.jpg'}" class="card-img-top" alt="..." style="height: 197px;"> <a
				th:href="@{'/getpersonmovies?personId='+${person.id}}"
				style="text-decoration: none;">
				<div class="card-body">
					<h5 class="card-title"
						th:text="${person.name}">Person
						Name</h5>
				</div>
			</a>
		</div>
	</div>
</div>