<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Languages - All Sports Fantasy</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
	<nav th:replace="fragments/menuheader :: menuheader"></nav>
	<div class="container-fluid">
	<div th:replace="fragments/searchmenu :: searchmenu"></div>
		<div class="row rowtop">
			<div class="col-md-3" th:each="language : ${languages}">
				<div class="card">
					<a th:href="@{'/moviesbylanguage?language='+${language.iso_639_1}}"
						style="text-decoration: none;"><div class="card-body" th:text="${#strings.toUpperCase(language.english_name)}"></div></a>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>