<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Show Movie - All Sports Fantasy</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/lity/lity.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<!-- https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.css -->
</head>
<body>
<nav th:replace="fragments/menuheader :: menuheader"></nav>
<div class="container-fluid">
<div th:replace="fragments/searchmenu :: searchmenu"></div>
	<div class="row rowtop">
		<div class="col-md-4">
			<div class="card fixedposition">
				<img
					th:src="${movie.poster_path!=null and movie.poster_path!='' and movie.poster_path!=undefined?'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+movie.poster_path:'http://www.reelviews.net/resources/img/default_poster.jpg'}"
					class="card-img-top" alt="..." style="height: 100%;border-radius: 1%;">
			</div>
		</div>
		<div class="col-md-8">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Title</th>
						<td th:text="${movie.title}"></td>
					</tr>
					<tr>
						<th colspan="2">Description</th>
					</tr>
					<tr>
						<td colspan="2"
							th:text="${movie.overview}"></td>
					</tr>
					<tr>
						<th>Release Date</th>
						<td th:text="${movie.release_date}"></td>
					</tr>
					<tr>
						<th>Duration</th>
						<td th:text="${movie.runtime + ' Mints'}"></td>
					</tr>
					<tr>
						<th>Vote Average</th>
						<td th:text="${movie.vote_average}"></td>
					</tr>
					<tr th:if="${genres!=null}">
						<th>Genres</th>
						<td th:text="${genres}"></td>
					</tr>
					<tr>
						<th>Popularity</th>
						<td th:text="${movie.popularity}"></td>
					</tr>
					<tr>
						<th>Vote Count</th>
						<td th:text="${movie.vote_count}"></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12"><h4 style="color:blue;font-weight: bolder;">CAST</h4></div>
				<div class="col-md-4 well" th:each="cast : ${movieCasting.cast}">
					<div class="card">
						<img th:src="${cast.profile_path!=null and cast.profile_path!='' and cast.profile_path!=undefined?'https://image.tmdb.org/t/p/w235_and_h235_face/'+cast.profile_path:'http://www.reelviews.net/resources/img/default_poster.jpg'}" class="card-img-top" alt="..." style="height: 150px;"> 
							<div class="card-body">
								<a th:href="@{'getpersonmovies?personId='+${cast.id}}" style="text-decoration: none;">
									<h5 class="card-title" th:text="${cast.name}" style="height: 20px;margin-bottom: auto;color:white;">cast Name</h5>
								</a>
							</div>
					</div>
				</div>
				<div class="col-md-12"><h4 style="color:blue;font-weight: bolder;">CREW</h4></div>
				<div class="col-md-4 well" th:each="crew : ${movieCasting.crew}">
					<div class="card">
						<img th:src="${crew.profile_path!=null and crew.profile_path!='' and crew.profile_path!=undefined?'https://image.tmdb.org/t/p/w235_and_h235_face/'+crew.profile_path:'http://www.reelviews.net/resources/img/default_poster.jpg'}" class="card-img-top" alt="..." style="height: 150px;"> 
							<div class="card-body">
								<a th:href="@{'getpersonmovies?personId='+${crew.id}}" style="text-decoration: none;">
									<h5 class="card-title" th:text="${crew.name}" style="height: 20px;margin-bottom: auto;color:white;">Crew Name</h5>
								</a>
							</div>
					</div>
				</div>
			</div><br/><br/><br/>
			
			<div class="footer">
				<div style="margin-left: 23%;">
					<a class="btn btn-success playmovie" onClick="playMovie()" th:if="${link==null}">Watch Movie</a> 
					<a class="btn btn-success" th:href="${'https://www.youtube.com/watch?v='+link}" data-lity th:if="${link!=null}">Watch Movie</a>
					<a class="btn btn-danger" th:href="${'https://www.youtube.com/watch?v='+trailer}" data-lity>Watch Trailer</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/lity/lity.js}"></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js -->

<script type="text/javascript" th:inline="javascript">
	var ipAddress = "";
	var movieId = [[${movieId}]];
	
	$(function() {
		$.get("https://ipapi.co/json/", function(response) {
			ipAddress = response.ip;
			console.log(ipAddress);
		});
	});	
	
	$(".playmovie").on("click", function() {
		window.location.href="/playdbmovie?movieId=" + movieId + "&address=" + ipAddress;
	});	
</script>

















</html>