<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Movies - All Sports Fantasy</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<nav th:replace="fragments/menuheader :: menuheader"></nav>
	<div class="container-fluid">
	<div th:replace="fragments/searchmenu :: searchmenu"></div>
		<div class="row rowtop">
			<div class="col-md-4" th:each="movie : ${movies}">
				<div class="card">
					<img th:src="${movie.images.fanart!=null and movie.images.fanart!='' and movie.images.fanart!=undefined and movie.images.fanart!='images/posterholder.png'?movie.images.fanart:'http://www.reelviews.net/resources/img/default_poster.jpg'}" class="card-img-top" alt="..." height="234px;"> 
					<a th:href="@{'/showmovie?movieId='+${movie.imdb_id}}" style="text-decoration: none;">
						<div class="card-body">
							<h5 class="card-title" th:text="${movie.title}">Movie Title</h5>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>