<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Movie - All Sports Fantasy</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/lity/lity.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<style>
.frameheight {
	height: 510px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.frameheight {
		height: 283px;
		width: 100%;
	}
}
</style>
</head>
<body>
<nav th:replace="fragments/menuheader :: menuheader"></nav>
	<div class="container-fluid">
	<div th:replace="fragments/searchmenu :: searchmenu"></div>
		<div class="row rowtop">
			<div class="col-md-8">
				<div class="row">
					<div class=col-md-12>
						<iframe th:src="${link}" class="frameheight"
							allowscriptaccess="always" allowfullscreen="true" scrolling="no"></iframe>
					</div>
					<div class="col-md-12">
						<table class="table table-striped">
							<tbody>
								<tr>
									<th>Title</th>
									<td th:text="${movie.title}"></td>
								</tr>
								<tr>
									<th colspan="2">Description</th>
								</tr>
								<tr>
									<td colspan="2"
										th:text="${#strings.length(movie.synopsis)>230 ? #strings.substring(movie.synopsis,0,230) + '...' : movie.synopsis}"></td>
								</tr>
								<tr>
									<th>Year</th>
									<td th:text="${movie.year}"></td>
								</tr>
								<tr>
									<th>Duration</th>
									<td th:text="${movie.runtime + ' Mints'}"></td>
								</tr>
								<tr>
									<th>certification</th>
									<td th:text="${movie.certification}"></td>
								</tr>
								<tr>
									<th>Genres</th>
									<td th:text="${#strings.listJoin(movie.genres,', ')}"></td>
								</tr>
								<tr>
									<th>Percentage</th>
									<td th:text="${movie.rating.percentage+ '%'}"></td>
								</tr>
								<tr>
									<th>Votes</th>
									<td th:text="${movie.rating.votes}"></td>
								</tr>
							</tbody>
						</table>
						<div class="footer">
						<div style="margin-left: 23%;">
							<a class="btn btn-danger" th:href="${movie.trailer}" data-lity>Watch
								Trailer</a>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="margin-left: -22px;">
				<div class="card rightfixed">
					<img th:src="${movie.images.poster}" class="card-img-top" alt="..." style="height: 100%;border-radius: 1%;">
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/lity/lity.js}"></script>
</html>